textarea{
	width: 100%;
}
.rqrs_mask-pane{
	border: 2px outset #C9DEC9;
}
span.code_reservword{color: #949494;}
span.code_comment{color: #1DC301;}
span.code_identificator{color:#2090D8;}
span.code_oper{color:#B56E6E;}
span.code_text{color:red;}